aiohttp==3.9.3
beautifulsoup4==4.12.3
faiss_cpu==1.8.0
langid==1.1.6
lxml==5.2.2
nest_asyncio==1.6.0
nltk==3.8.1
numpy==2.1.0
pandas==2.2.2
Requests==2.32.3
scikit_learn==1.3.0
streamlit==1.37.1
torch==2.2.2
transformers==4.42.4
